<footer>
    <p>&copy; Conestoga &amp; Temiloluwa OLUGBANMU. Section 1, Spring Semester Project
        <br>
        Developed, Designed &amp; Maintained by
        <strong>Miirakulous Tech</strong>
    </p>
</footer>

</body></html>