<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <title>Miirakulous Art</title>
        <meta
        name="description" content="miirakulous, art, project, ">
        <!-- TODO: update meta description -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <meta name="theme-color" content="#fafafa">
    </head>

    <body>

        <header>
            <img src="/images/logo.png" alt="logo" width="150px">
            <h1>Miirakulous Art</h1>
        </header>
    