<%- include('layouts/header'); -%>

    <%- include('layouts/nav'); -%>
<nav>
    
</nav>


        <main>
            <section>
                <div id="wrapper" class="classwrapper">
                    <h2>Creativity</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi tempore quaerat, aperiam ducimus corporis at non itaque exercitationem tempora soluta consequuntur debitis labore molestiae repellendus ullam inventore. Enim voluptates
                        similique quas est animi obcaecati temporibus rem officiis ea non, magnam perspiciatis ipsam consequatur, quisquam eveniet? Facilis totam, eligendi delectus officia debitis ratione. Magni eum, debitis aperiam, aliquam commodi fugit
                        quidem ducimus laudantium alias non quia incidunt nam fugiat laboriosam assumenda culpa voluptatum pariatur perspiciatis. Velit inventore tenetur error incidunt fugit cupiditate voluptatem dolor, ratione non at. Temporibus deserunt
                        culpa quia eaque vitae, corporis, assumenda, alias minus sapiente delectus dolor aspernatur.</p>

                    <div id="wrapper2" class="classwrapper">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis voluptas soluta necessitatibus culpa accusamus, deleniti nisi, corrupti neque laborum laudantium reprehenderit eos et nesciunt, alias eum. Voluptatem dignissimos
                            ratione recusandae blanditiis quas quisquam, quod atque consequatur officia pariatur quis voluptatibus.</p>
                    </div>
                    <div class="column">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quis inventore quo cupiditate nemo tempora quod magni doloribus cumque distinctio! Inventore repudiandae iste voluptatibus dolor blanditiis qui deleniti rerum tenetur
                            optio numquam adipisci saepe, magnam facere ut! Recusandae vel magni unde earum libero, blanditiis deleniti nemo quibusdam fuga molestiae architecto.</p>
                    </div>
                    <div class="column">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quis inventore quo cupiditate nemo tempora quod magni doloribus cumque distinctio! Inventore repudiandae iste voluptatibus dolor blanditiis qui deleniti rerum tenetur
                            optio numquam adipisci saepe, magnam facere ut! Recusandae vel magni unde earum libero, blanditiis deleniti nemo quibusdam fuga molestiae architecto.</p>
                    </div>
                    <div class="column">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quis inventore quo cupiditate nemo tempora quod magni doloribus cumque distinctio! Inventore repudiandae iste voluptatibus dolor blanditiis qui deleniti rerum tenetur
                            optio numquam adipisci saepe, magnam facere ut! Recusandae vel magni unde earum libero, blanditiis deleniti nemo quibusdam fuga molestiae architecto.</p>
                    </div>
                </div>
            </section>
        </main>

        <%- include('layouts/footer'); -%>